# 作業系統相關
.DS_Store                # macOS
Thumbs.db                # Windows
desktop.ini              # Windows
.idea/                   # IDE 設定檔 (如 JetBrains IDEs)
.vscode/                 # Visual Studio Code 設定檔

# ML Model File
resources/model/

# 忽略真實的 config.ini
config.ini

# db file
sqlite.db
# 日誌檔案
*.log
audit.log*
# 暫存檔案
*.tmp
*.bk

# 數據檔案
#*.csv

# Byte-compiled / optimized / DLL files
__pycache__/
*.pyo
*.pyd
# Virtual Environment
venv/
env/
*.env
.idea/.gitignore
.idea/misc.xml
.idea/modules.xml
.idea/nekosaur_simulator.iml
.idea/vcs.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
